* html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
.container{
    text-align: center;
    justify-content: center;

    padding: auto;
    border: 2px solid black;
    border-radius: 5%;
    background: linear-gradient(to right, #4a1b4e, #925353, #131244);
    
}
.row{
    padding: 40%px;
}
 img {
     max-width: 100%;
     display: flex;
 }
 h1 {
     color: white;
     display: flex;
     text-align: center;
     justify-content: center;
     margin: auto;
 }
 p{
     color: white;
 }
 h2{
     color: white;
 }