* html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  }
  /* div{
      height: 100%;
      width: 100%;
  } */
.container{
    text-align: center;
    justify-content: center;
    
    padding: auto;
    border: 2px solid black;
    border-radius: 5%;
    background: linear-gradient(to right,#000000 , #6d0000, #000000);
    
}
.row{
    padding: 40%px;
}
 img {
     max-width: 100%;
     display: flex;
 }
 h1 {
     color: white;
     display: flex;
     text-align: center;
     justify-content: center;
     margin: auto;
     font-family: 'Times New Roman', Times, serif;
 }
 p{
     color: white;
     font-family: 'Times New Roman', Times, serif;
 }
 h2{
     color: white;
 }